@charset "UTF-8";

body, html {
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

table{
  margin: 0 auto;  /* ボックス中央寄せ */
  text-align :center;

}
th{
  text-align :right;

}

.card-container {
	max-width: 700px;
}

.button-area {
    text-align: center;
}
label {
  font-weight: bold;
  text-align :right;
}
